<nav class="navbar navbar-custom">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header ">
      <div class="picture" style="float: left">
        <a href="/"><img src="https://pp.userapi.com/c837334/v837334381/43162/gwLPkRLAfUQ.jpg" width="450" height="150"></a>
      </div>
      <div class="pull-right" style="float: right">
        <%= render 'layouts/cart_text' %>
        <% if(current_user.present?) %>
        <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
        <% else %>
        <%= link_to 'Войти', new_user_session_path %>
        <% end %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="collapse">
      <ul class="nav navbar-nav">

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="/users">History</a></li>
        <li><a href="/posts/index">My Profile</a></li>
        <li><a href="/sessions/new">Sign in</a></li> -->
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a href="#">Edit</a></li>
            <li><a href="#">Information</a></li>
            <li><a href="#">Sign out</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Cancel</a></li>
          </ul>
        </li> -->
      </ul>

    </div><!-- /.navbar-collapse -->

  </div>

</nav>
<hr>
