
<h1><%= @category.title %>:</h1>
---------------------------------------------
</p>
<div class="container">
  <% @sub_categories.each do  |sub_categories|%>
  <div class="col">
        <%= link_to sub_categories.title, sub_categories %>
  </div>
  <div class="col">
  </div>
<% end %>
</div>
